<!-- MODAL FOR CONTACT -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">contact us</h4>
			</div>
			<div class="modal-body">
				<div class="row centered">
					<p>We are available 24/7, so do not hesitate to contact us.</p>
					<p>
						Avenue du Parc<br/>
						Paris, France<br/>
						+33 1 30 17 08 46<br/>
						contact@atilla.org
					</p>
					<div id="mapwrap">
						<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=49.034689,2.070966&amp;spn=0.004741,0.013078&amp;z=17&amp;output=embed"></iframe>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div><!-- END WRAP -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.atilla.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.atilla.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>

<!-- FOOTER -->
<div id="f">
	<div class="container">
		<div class="row centered">
			<div class="col-md-5">
				<h4>Services :</h4>
				<ul>
					<div class="row fluid">
						{{#services}}
						<div class="col-md-4">
							<li><a href="http://{{link}}">{{title}}</a></li>
						</div>
						{{/services}}
					</div>
				</ul>
			</div>

			<div class="col-md-5">
				<a href="https://t.me/ATILLAnnonce"><i class="fa fa-paper-plane"></i></a>
				<a href="https://www.facebook.com/atilla.org"><i class="fa fa-facebook"></i></a>
				<a href="https://gitlab.atilla.org/explore/projects"><i class="fa fa-git-square"></i></a>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- Footer -->
