{{> header }}

<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>It Doesn't Take a Rocket <b>Scientist</b></h1>
				<h2>It Takes a Hacker</h2>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- headerwrap -->


<div class="container w">
	<div class="row centered">
		<br><br>
		{{#features}}
		<div class="col-lg-4">
			<i class="fa {{icon}}"></i>
			<h4>{{title}}</h4>
			<p>{{description}}</p>
		</div><!-- col-lg-4 -->
		{{/features}}
	</div><!-- row -->
	<br>
	<br>
</div><!-- container -->


<div id="r">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>NOUS SOMMES DES ÉTUDIANTS PASSIONNÉS. PARTAGEONS CETTE PASSION.</h4>
				<p>Chacun des membres d'ATILLA dispose d'une palette de connaissances et de spécialités qu'il est prêt à partager. Mutualiser ses expertises nous permet de réaliser toute sorte de projets afin d'améliorer le quotidien des étudiants de CY Tech et améliorer l'infrastructure de l'association.</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- r wrap -->


<div id="blue">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>WE CAN DO A LOT OF THINGS</b></h4>
				<p>BECAUSE WE HAVE SO MUCH SWAG</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- blue wrap -->


<div class="container w">
	<div class="row centered">
		<br><br>
		{{#forge}}
		<div class="col-lg-4" style="min-height:250px;">
			<i class="fa {{icon}}"></i>
			<h4>{{name}}</h4>
			<p>{{description}}</p>
		</div><!-- col-lg-4 -->
		{{/forge}}

	</div><!-- row -->
</div><!-- container -->

<div id="lg">
	<div class="container">
		<div class="row centered">
			<h4>NOS PARTENAIRES</h4>
			{{#partners}}
			<div class="col-lg-3 col-md-4 col-sm 6 centered">
				<img alt="{{name}}" src="assets/img/{{img_url}}" class="partners-img">
			</div>
			{{/partners}}
		</div>
	</div><!-- container -->
</div><!-- dg -->

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Atilla",
	"logo": "http://atilla.org/assets/img/logo.png"
  "url" : "http://atilla.org",
  "sameAs" : [
    "https://www.facebook.com/atilla.org/",
	"https://t.me/ATILLAnnonce",
    "https://twitter.com/CY106"
  ]
}
</script>

{{> footer }}
